.gl_header {
  /* position: fixed; */
  /* z-index: 100; */
  position: absolute;
  top: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  padding: 0 128px 25px 128px;
  height: 130px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-bottom: 1px solid rgba(255, 255, 255, 0.18);
  backdrop-filter: blur(10px);
}

.navbar_menu {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 60%;
}

.navbar_links {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 60%;
}

.navbar_link {
  color: #fff;
  font-family: Montserrat;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  text-decoration: none;
  position: relative;
  margin: 0;
  padding: 0 10px;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

.navbar_link::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  background-color: #d434fe;
  top: 25px;
  left: 0;
  transform-origin: right;
  transform: scaleX(0);
  transition: transform 0.3s ease-in-out;
}

.navbar_link:hover {
  color: #fff;
  transition: all 0.2s ease-in-out;
}
.navbar_link:hover::before {
  transform-origin: left;
  transform: scaleX(1);
}

.btn-flip {
  opacity: 1;
  outline: 0;
  position: relative;
  letter-spacing: 1px;
  text-decoration: none;
  border-radius: 4px;
  background: linear-gradient(#9a39ff, #ff29b9);
}

.btn-flip:hover::after {
  opacity: 1;
  transform: translateY(0) rotateX(0);
}

.btn-flip:hover::before {
  opacity: 0;
  transform: translateY(50%) rotateX(90deg);
}

.btn-flip::after {
  top: 2px;
  left: 2px;
  bottom: 2px;
  right: 2px;
  opacity: 0;
  flex-shrink: 0;
  border-radius: 4px;
  color: #fff;
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.5s;
  position: absolute;
  background: #150e28;
  content: attr(data-back);
  transform: translateY(-50%) rotateX(90deg);
}

.btn-flip::before {
  color: #fff;
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  width: 172px;
  height: 53px;
  flex-shrink: 0;
  border-radius: 4px;
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  transition: 0.5s;
  background: linear-gradient(
    270deg,
    #903aff 0%,
    #d434fe 56.42%,
    #ff26b9 99.99%,
    #fe34b9 100%
  );
  content: attr(data-front);
  transform: translateY(0) rotateX(0);
}
